.chart> polygon,
.chart> rect {
    fill: currentColor;
    stroke: currentColor;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.4;
}

.line {
    fill: none;
    stroke: #ffffffde;
    stroke-miterlimit: 10;
    stroke-width: 1;
}

.front.blue { color: #369bee; }
.side.blue { color: #3183c5; }
.top.blue { color: #5ab4fd; }

.front.orange { color: #f0703d; }
.side.orange { color: #d76031; }
.top.orange { color: #ff8454; }

.front.red { color: #fb3a30; }
.side.red { color: #c92f27; }
.top.red { color: #fd625a; }

.front.yellow { color: #f0b13d; }
.side.yellow { color: #c29034; }
.top.yellow { color: #ffc354; }
